@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;500;700&display=swap');

:root {
    --color-one: #F08521;
    --color-two: #ffffff;
    --color-three: #f0f0f0;
    --color-four: #000000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    background-color: var(--color-three);
    font-family: 'Varta', sans-serif;
}

header {
    background-color: var(--color-four);
    width: 100%;
    padding: 24px;
    text-align: center;
}

.links {
    font-size: 32px;
}

.links a {
    color: var(--color-two);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active:after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--color-one);
    position: absolute;
    left: 0;
    bottom: 0;
}

.links a:before {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--color-one);
    position: absolute;
    right: 0;
    bottom: 50px;
}

.links a:hover::before {
    width: 100%; 
    transition: width 400ms ease-in-out;
}

.links a:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--color-one);
    position: absolute;
    left: 0;
    bottom: 0;
}

.links a:hover::after {
    width: 100%; 
    transition: width 400ms ease-in-out;
}

.card {
    background-color: var(--color-four);
    width: 800px;
    min-height: 400px;

    margin: 48px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 2px 2px 6px 2px var(--color-one);

    animation: card 500ms ease-in-out;
}

@keyframes card {
    from {
        opacity: 0;
        transform: translateX(-120px);
    }
    to {
        opacity: 1;
    }
}

.ficha {
    padding: 32px;
}

.ficha .item {
    border-bottom: solid 2px var(--color-one);
    padding: 14px 0;
}

.ficha h2 {
    font-weight: normal;
    color: var(--color-two);
    text-transform: uppercase;
}

.ficha div:nth-child(2) {
    color: var(--color-one);
    font-weight: bold;
    font-size: 18px;

    margin-top: 8px;
}

.ficha div.item:last-child {
    border-bottom: none;
}

.ficha .item span, .ficha-cadastro .item span {
    margin-right: 4px;
    padding: 4px 8px;

    display: inline-block;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-three);


    background-color: var(--color-one);

    border-radius: 4px;

    text-transform: uppercase;
}

/* cadastro */

.ficha-cadastro {
    padding: 32px;
    background-color: var(--color-four);
}

.ficha-cadastro .item {
    border-bottom: solid 2px var(--color-one);
}

.ficha-cadastro .item {
    padding: 14px 0;
}

.ficha-cadastro .item:nth-child(n+4):nth-child(-n+6) {
    padding: 14px 0;
}

.ficha-cadastro h2, button {
    text-transform: uppercase;
}

.ficha-cadastro h2, div:nth-child(1) {
    color: var(--color-two);
    font-weight: normal;
}

.ficha-cadastro div:nth-child(2) {
    margin-top: 16px;
}

.ficha-cadastro div.item:last-child {
    border-bottom: none;
}

div.item {
    margin-bottom: 18px;
    position: relative;
}

label {
    font-size: 16px;
    color: black;
}

input[type="number"] > label {
    font-size: 16px;
    color: white;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="text"],input[type="url"],input[type="email"]  {
    width: 100%;

    padding: 6px;
    border-radius: 4px;

    outline: 0;

    color: var(--text-color);
    font-size: 1em;
}

input[type="text"] ~ label, input[type="url"] ~ label, input[type="email"] ~ label {
    position: absolute;

    color: var(--color-four);
    font-weight: bold;

    padding: 0 4px;
    
    top: 18px;
    left: 0;
    
    transition: .4s;
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="url"]:focus ~ label,
input[type="url"]:valid ~ label,
input[type="email"]:focus ~ label,
input[type="email"]:valid ~ label {
    transform: translateY(-28px);
    font-size: 14px;
    letter-spacing: 0.1em;
    color: var(--color-three);
}

input[type="date"] {
    padding: 6px;
    border-radius: 4px;
}

select, input[type="number"] {
    padding: 6px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
}

select option {
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 8px;

    background-color: var(--color-one);
    color: var(--color-two);

    border-radius: 4px;

    transition: 600ms;

    cursor: pointer;
}

button:hover {
    background-color: var(--color-two);
    color: var(--color-four);
}

#form-delete button {
    margin-top: 8px;
}

#form-delete button:hover {
    background-color: red;
    color: var(--color-four);
}

a.button {
    padding: 8px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-two);
    background-color: var(--color-one);

    display: block;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;

    transition: 600ms;

    cursor: pointer;
}

a.button:hover {
    background-color: var(--color-two);
    color: var(--color-four);
}



@media (max-width: 700px) {
    div.card {
       width: 80%;

        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas: "img"
        "form";
    }

    section.foto {
       grid-area: img;
    }

    section.ficha {
        grid-area: form;
    }

    div.item span {
        margin-bottom: 8px;
    }

    form.card {
        width: 80%;
 
         grid-template-rows: 1fr 3fr;
         grid-template-columns: 1fr;
         grid-template-areas: "img"
         "form";
     }


}


/* index table */
.table-container {
    padding: 40px;
    display: block;

    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

td, th {
    padding: 16px;

    color: var(--color-two);

    border-bottom: solid 2px var(--color-one);
}

th {
    text-transform: uppercase;
    color: var(--color-two);
    font-size: 14px;
}

.table-container thead tr th, td {
    text-align: center;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    justify-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;

    background-size: cover;
    background-position: center;

    border-radius: 50%;
    border: solid 2px var(--color-two);
    box-shadow: 3px 1px 6px -4px var(--color-two);
}

tbody tr td:last-child a {
    padding: 8px 16px;

    font-size: 12px;
    font-weight: 500;
    color: var(--color-three);
    background-color: var(--color-one);
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 4px;

    transition: 400ms;
}

tbody tr td:last-child a:hover {
    color: var(--color-one);
    background-color: var(--color-three);
}