<div class="item">
    <input type="url" name="photo" value="{{ student.photo }}" required>
    <label>Foto</label>
</div>
<div class="item">
    <input type="text" name="name" value="{{ student.name }}" required>
    <label>Nome</label>
</div>
<div class="item">
    <input type="email" name="email" value="{{ student.email }}" required>
    <label>E-mail</label>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ student.birth }}">
    </div>
</div>
<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="grade">
            <option value="EF5" 
            {% if student.grade == "EF5"%}
            selected
            {% endif %}
            >5º E.Fundamental</option>
            <option value="EF6"
            {% if student.grade == "EF6"%}
            selected
            {% endif %}
            >6º E.Fundamental</option>
            <option value="EF7"
            {% if student.grade == "EF7"%}
            selected
            {% endif %}
            >7º E.Fundamental</option>
            <option value="EF8"
            {% if student.grade == "EF8"%}
            selected
            {% endif %}
            >8º E.Fundamental</option>
            <option value="EF9"
            {% if student.grade == "EF9"%}
            selected
            {% endif %}
            >9º E.Fundamental</option>
            <option value="EM1"
            {% if student.grade == "EM1"%}
            selected
            {% endif %}
            >1º E.Médio</option>
            <option value="EM2"
            {% if student.grade == "EM2"%}
            selected
            {% endif %}
            >2º E.Médio</option>
            <option value="EM3"
            {% if student.grade == "EM3"%}
            selected
            {% endif %}
            >3º E.Médio</option>
        </select>
    </div>
</div>
<div class="item">
    <div>Carga horária</div>
    <div>
        <input type="number" name="workload" value="{{ student.workload }}">
    </div>
</div>
<div class="item">
    <div>Professor</div>
    <div>
        <select name="teacher">
            {% for teacher in teacherOptions %}
            <option value="{{teacher.id}}" 
            {% if student.teacher_id == "teacher.id" %}
            selected
            {% endif %}
            >{{teacher.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>
