{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    <a href="/teachers/create"><img src="../assets/add.svg" alt=""></a>
    <table width="100%">
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Acompanhamento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{ teacher.photo }})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.matters}}</td>
                <td><a href="/teachers/{{teacher.id}}">VER</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}