{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    <div class="header">
        <a href="/teachers/create"><img src="../assets/add.svg" alt="adicionar"></a>
        <form action="/teachers" method="GET">
            <input type="text" name="filter">
            <button type="submit"><img src="../assets/search.svg" alt="pesquisar"></button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Acompanhamento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{ teacher.photo }})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.matters}}</td>
                <td>{{teacher.total_students}}</td>
                <td><a href="/teachers/{{teacher.id}}">VER</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}